SemanticDataSolution/UANetworkingConfiguration/Serialization/ConfigurationData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://commsvr.com/UAOOI/SemanticData/UANetworking/Configuration/Serialization.xsd"
           xmlns="http://commsvr.com/UAOOI/SemanticData/UANetworking/Configuration/Serialization.xsd">
  <xs:element name="ConfigurationData" nillable="true" type="ConfigurationData" />
  <xs:complexType name="ConfigurationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="ExtensionDataObject" />
      <xs:element minOccurs="0" maxOccurs="1" name="DataSets" type="ArrayOfDataSetConfiguration" />
      <xs:element minOccurs="0" maxOccurs="1" name="MessageHandlers" type="ArrayOfMessageHandlerConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtensionDataObject" />
  <xs:complexType name="ArrayOfDataSetConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSetConfiguration" nillable="true" type="DataSetConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataSetConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="ExtensionDataObject" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssociationRole" type="AssociationRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssociationName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RepositoryGroup" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InformationModelURI" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DataSymbolicName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DataSet" type="ArrayOfDataMemberConfiguration" />
      <xs:element minOccurs="0" maxOccurs="1" name="Guid" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Root" type="NodeDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AssociationRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Consumer" />
      <xs:enumeration value="Producer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfDataMemberConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataMemberConfiguration" nillable="true" type="DataMemberConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataMemberConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="ExtensionDataObject" />
      <xs:element minOccurs="0" maxOccurs="1" name="SymbolicName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessValueName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceEncoding" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NodeDescriptor">
    <xs:complexContent mixed="false">
      <xs:extension base="NodeDescriptorBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NodeDescriptorBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BindingDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DataType" type="xs:QName" />
      <xs:element minOccurs="1" maxOccurs="1" name="InstanceDeclaration" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="NodeClass" type="InstanceNodeClassesEnum" />
      <xs:element minOccurs="0" maxOccurs="1" name="NodeIdentifier" type="xs:QName" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InstanceNodeClassesEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Object" />
      <xs:enumeration value="Variable" />
      <xs:enumeration value="Method" />
      <xs:enumeration value="View" />
      <xs:enumeration value="NotDefined" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfMessageHandlerConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageHandlerConfiguration" nillable="true" type="MessageHandlerConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHandlerConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="ExtensionDataObject" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssociationNamesArrayOfString" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="Configuration">
        <xs:complexType>
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="TransportRole" type="AssociationRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssociationNames" type="ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>